* {margin: 0; padding: 0; box-sizing: border-box;}

ul, li, ol {list-style: none;}

a {color:black; text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none; color:black;}


img {border-style: none;}