:root {
    --white-color:#fff;
    --black-color:#140a00;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --grey-dark-color:#909090;
    --grey-light-color:#e0e0e0;

    /* Size */
    --padding-large:12px;
    --padding-medium:6px;
    --padding-small:3px;

    --margin-large:12px;
    --margin-medium:6px;
    --margin-small:3px;

    --avatar-size:36px;

    /* Font Size */
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

button {
    border-style: none;
}

body{
    /* font-family: 'Black Han Sans', sans-serif; */
    /* font-family: 'Do Hyeon', 'Nanum Gothic', sans-serif; */
    /* font-family: 'Gamja Flower', cursive; */
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Nanum Myeongjo', serif; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-large);
    margin: var(--padding-large);
}

    .fa-bars {
        margin: 0 var(--margin-large);
    }

    .logo {
        display:flex;
        align-items: center;
        font-weight: bolder;
    }
    .fa-youtube{
        color: var(--red-color);
        font-size: calc(var(--font-large)*1.5);
        margin: 0 var(--margin-medium);
    }

    input {
        border:2px solid var(--grey-light-color);
        font-size: calc(var(--font-large)*1.2);
    }

    .fa-search{
        color:var(--grey-dark-color);
    }

    header > .icons {
        display: flex;
    }

    header > .icons  > .fas {
        margin: 0 var(--margin-large);
        color:var(--grey-dark-color);
    }

    header > .icons  > .far {
        margin: 0 var(--margin-large);
        color:var(--grey-dark-color);
    }

.player {
    position: sticky;
    top:0;
    text-align: center;
    background-color: var(--black-color);
    padding: var(--padding-large);
}

.player video{
    width: 100%;
    max-width: 1000px;
    height:300px;
}

.playerInfo{
    display: flex;
    margin: var(--margin-large);
    flex-direction: column;
}

    .tagTitle{
        display: flex;
    }
    
    .tagTitle li{
        color:var(--blue-color);
        margin: var(--margin-small);
        font-size: var(--font-small);
    }

    .playInfoEtc{
       display: flex;
       justify-content: space-between;
       margin: var(--margin-small);
       border-bottom: 1px solid var(--grey-light-color);
    }

        .count{
            font-size: var(--font-medium);
            margin: var(--margin-large) 0;
        }

        .playInfoEtc > .icons{
            display: flex;
            
        }

        .playInfoEtc > .icons > span {
            margin: var(--margin-medium);
            color:var(--grey-dark-color);
        }

        .playInfoEtc > .icons > span > i{
            margin: var(--margin-small);
        }

.author {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--margin-large);
    border-bottom: 1px solid var(--grey-light-color);
}

    .author > .left{
        display:flex;
    }

    .author > .left img {
        border-radius: 50%;
    }

    .author .profil {
        margin-left: var(--margin-large);
        display: flex;
        flex-direction: column;
    }

    .author .profil span:nth-child(2){
        font-size: var(--font-small);
    }
    
    .author .tagAuthor {
        display: flex;
        color: var(--blue-color);
        font-size: var(--font-medium);
        margin: var(--margin-large) 0;
    }
    
    .author .more{
        font-size: var(--font-small);
        margin: var(--margin-large) 0;
    }
    .author .more:hover{
        color: var(--blue-color);
        cursor: pointer;
    }

    .author .right{
        font-size: var(--font-large);
    }

    .author .right button{
        padding: var(--padding-large);
        margin: 0 var(--margin-medium);
    }

.playList {
    display: flex;
    flex-direction: column;
    margin: var(--margin-large);
}

    .playList .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: var(--margin-large);
    }

    .playList .listContents{
        display: flex;
        flex-flow: row nowrap;
    }

    .playList .listContents .left {
        margin-right: var(--margin-large);
        flex: 30%;
        text-align: center;
    }

    .playList .listContents .right {
        flex: 70%;
        display: flex;
        flex-direction: column;
    }

    .playList .listContents .right span:nth-child(2) , span:nth-child(3){
        font-size: var(--font-medium);
        margin: var(--margin-medium) 0;
        color: var(--blue-color);
    }

    