:root {

    /* color */
    --black-color: #292929;
    --brown-color: #694632;
    --white-color: #fff;
    --red-color:#800107;
    --yellow-color:#f5a500;

    --gray-color: #838383;

    --px2 : 0.125rem;
    --px5 : 0.313rem;
    --px10 : 0.625rem;
    --px12 : 0.75rem;
    --px15 : 0.938rem;
    --px16 : 1em;
    --px20 : 1.25rem;
    --px30 : 1.875rem;
    --px40 : 2.5rem;

    /* padding */
    --padding-10 : 10%;
    --padding-20 : 20%;

    /* font size  */
    --fs-small : 0.75rem;   /* 12px */
    --fs-medium : 1rem;      /* 16px */
    --fs-large : 1.25rem;   /* 20px */
    --fs-xlarge : 1.875rem; /* 30px */
    --fs-title : 2.5rem;    /* 40px */
}

/* header */
header {width: 100vw; height: 10vh ;}
header .container {width: 60vw; height: 10vh; margin: auto; padding-top: var(--px10);}
header .container > ul {display: flex; justify-content: space-around; align-items: center; font-size: var(--fs-large); letter-spacing: 0.125rem;}
header .container > ul > li {margin-bottom: var(--px5);}
header .container > ul > li:hover > a {text-decoration: underline;}
header .container > ul > li:hover .subMenu {opacity:1; top: var(--px5);} 


header .subMenu-container {position: relative; margin-top: var(--px5);}
header .subMenu-container .subMenu{opacity:0; position: absolute; top: -10px; left: -5px; transition:all 0.5s; font-size: var(--fs-medium); background-color: var(--red-color); width: 130px; height: 120px; padding: var(--px10);}
header .subMenu-container .subMenu a {color: var(--white-color);}
header .subMenu-container .subMenu a:hover {text-decoration: underline;}
header .subMenu-container .subMenu > li {margin-bottom: var(--px5);} 

header .container ul li input {line-height: var(--fs-xlarge);}

/* nav */
nav { width: 100vw; height: 60vh;  background-image: linear-gradient(to right, rgba(133,0,6,1), rgba(207,46,38,1), rgba(133,0,6,1));}
nav .container {width: 60vw; height: 60vh; margin: auto;}
nav .container .bgImg { position: relative;}
nav .container .bgImg li a img {position: absolute; width: 300px; height: 300px; transform: scale(0.9);}
nav .container .bgImg li a:hover img {transform:scale(1);}

nav .container .bgImg li:nth-child(1) a img {left:250px; top:120px; }
nav .container .bgImg li:nth-child(2) a img {left:650px; top:120px; }

nav .container .bgTxt { position: relative;}
nav .container .bgTxt li {position: absolute; top:20px; padding-top: var(--px20);}
nav .container .bgTxt li a {padding : var(--px10); color: var(--white-color);}
nav .container .bgTxt li a:hover {color: yellow;}

nav .container .bgTxt li:nth-child(1) {font-size: var(--fs-title); top: 50px; left: -100px;}
nav .container .bgTxt li:nth-child(2) {font-size: var(--fs-large); top:400px; left: 310px;}
nav .container .bgTxt li:nth-child(3) {font-size: var(--fs-large); top:400px; left: 700px;}

/* notice */
#notice {width: 100vw; height: 30vh; background: var(--brown-color);}
#notice .container {width: 60vw; height: 30vh; margin:auto;}
#notice .container .new {height: 100%;}
#notice .container .new ul {height: 100%; display: flex; flex-direction: column; justify-content: center; color: var(--white-color);}
#notice .container .new ul li:first-child {font-size: var(--fs-title); margin-bottom: var(--px10);}

/* footer */
footer {width: 100vw; height: 30vh; background-color: var(--brown-color);}
footer .container {width: 60vw; height: 30vh; margin: auto; padding: var(--px10); display: flex; justify-content: space-between; color:var(--white-color); letter-spacing: 2px;}
footer .container ul {margin-top: var(--px10);}
footer .container ul li {margin: var(--px5);}

footer .sns ul {height: 100%; display: flex; flex-direction: column; justify-content: space-around;}
footer .sns i {font-size: var(--fs-xlarge); margin-right: var(--px5)}
